<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{},
                                                cssContent2=~{:: link},
                                                titleContent=~{:: title}
                                            )}"
>

<title>Eni Enchères</title>
<link rel="stylesheet" data-th-href="@{/css/forms.css}">

<main>
    <form data-th-replace="~{fragments/fragment-user-form :: user-profile('update')}"></form>
</main>

</html>