<form data-th-fragment="article-form(action)" data-th-action="@{${action}}" method="post" data-th-object="${article}">
    <h1 data-th-if="${#strings.isEmpty(action)}" data-th-text="#{view-article-detail.h1}"></h1>
    <h1 data-th-unless="${#strings.isEmpty(action)}" data-th-text="#{view-article-form.h1}"></h1>
    <!--    <h2 data-th-replace="~{fragments/fragment-errors.html :: errors}"></h2>-->
    <!--    <p class=cards data-th-each="keyError: ${#fields.errors('global')}" data-th-text="#{${keyError}}"></p>-->
    <ul class="flex-outer">
        <img data-th-src="${article.imageUrl}" alt="Photo de l'objet à vendre">
        <li>
            <label for="articleName" data-th-text="#{frag-article-form.articleName}"></label>
            <input data-th-field="*{articleName}"
                   type="text" name="articleName" id="articleName" data-th-disabled="${#strings.isEmpty(action)}">
            <!--<div data-th-replace="~{fragments/fragment-error :: error(articleName)}"></div>-->
        </li>
        <li>
            <label for="description" data-th-text="#{frag-article-form.description}"></label>
            <textarea name="description" id="description"
                      data-th-disabled="${#strings.isEmpty(action)}"
                      data-th-field="*{description}"></textarea>
            <!-- <div data-th-replace="~{fragments/fragment-error :: error(description)}"></div>-->
        </li>
        <li>
            <label for="category" data-th-text="#{frag-article-form.category}"></label>
            <input data-th-if="${#strings.isEmpty(action)}" type="text" name="category" id="category" disabled
                   data-th-field="*{category.label}">
            <select data-th-unless="${#strings.isEmpty(action)}" name="category" id="category">
                <option data-th-each="category: ${categories}" data-th-value="${category.categoryId}"
                        data-th-text="${category.label}"></option>
            </select>
            <!-- <div data-th-replace="~{fragments/fragment-error :: error(category)}"></div>-->
        </li>
        <li data-th-if="${#strings.isEmpty(action)}">
            <label for="bestBid" data-th-text="#{frag-article-form.bestBid}"></label>
            <input type="number" name="bestBid" id="bestBid">
        </li>
        <li data-th-unless="${#strings.isEmpty(action)}">
            <label for="imageURL" data-th-text="#{frag-article-form.imageUrl}"></label>
            <input type="file" id="imageURL" name="imageURL" accept="image/png, image/jpeg, image/gif, image/jpg"
                   data-th-unless="${#strings.isEmpty(action)}"/>
            <!-- <div data-th-replace="~{fragments/fragment-error :: error(imageURL)}"></div>-->
        </li>
        <li>
            <label for="startingPrice" data-th-text="#{frag-article-form.startingPrice}"></label>
            <input type="number" name="startingPrice" id="startingPrice"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{startingPrice}">
<!--            <div data-th-replace="~{fragments/fragment-error :: error(startingPrice)}"></div>-->
        </li>
        <li data-th-unless="${#strings.isEmpty(action)}">
            <label for="startDate" data-th-text="#{frag-article-form.startDate}"></label>
            <input type="date" name="startDate" id="startDate"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{startDate}">
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(startDate)}"></div>-->
        </li>
        <li>
            <label for="endDate" data-th-text="#{frag-article-form.endDate}"></label>
            <input type="date" name="endDate" id="endDate"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{endDate}">
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(endDate)}"></div>-->
        </li>
        <li data-th-if="${#strings.isEmpty(action)}">
            <label for="pickup" data-th-text="#{frag-article-form.pickup} + ' : '"></label>
            <p id="pickup" data-th-text="${article.pickup.street}"></p>
            <p data-th-text="${article.pickup.zip + ' ' + article.pickup.city}"></p>
        </li>
        <li data-th-unless="${#strings.isEmpty(action)}">
            <fieldset>
                <legend data-th-text="#{frag-article-form.pickup}"></legend>
                <ul>
                    <li>
                        <label for="street" data-th-text="#{frag-article-form.pickup.street}"></label>
                        <input data-th-field="*{pickup.street}"
                               type="text" name="street" id="street" data-th-disabled="${#strings.isEmpty(action)}">
                        <!--<div data-th-replace="~{fragments/fragment-error :: error(street)}"></div>-->
                    </li>
                    <li>
                        <label for="zip" data-th-text="#{frag-article-form.pickup.zip}"></label>
                        <input data-th-field="*{pickup.zip}"
                               type="text" name="zip" id="zip" data-th-disabled="${#strings.isEmpty(action)}">
                        <!--<div data-th-replace="~{fragments/fragment-error :: error(zip)}"></div>-->
                    </li>
                    <li>
                        <label for="city" data-th-text="#{frag-article-form.pickup.city}"></label>
                        <input data-th-field="*{pickup.city}"
                               type="text" name="city" id="city" data-th-disabled="${#strings.isEmpty(action)}">
                        <!--<div data-th-replace="~{fragments/fragment-error :: error(city)}"></div>-->
                    </li>
                </ul>
            </fieldset>
        </li>
        <li data-th-if="${#strings.isEmpty(action)}">
            <label for="seller" data-th-text="#{frag-article-form.seller}"></label>
            <input data-th-value="${article.seller.username}"
                   type="text" name="seller" id="seller" data-th-disabled="${#strings.isEmpty(action)}">
            <!--<div data-th-replace="~{fragments/fragment-error :: error(seller)}"></div>-->
        </li>
        <li data-th-unless="${#strings.isEmpty(action)}">
            <button type="submit" data-th-text="#{frag-article-form.button.save}"></button>
            <button type="reset" data-th-text="#{frag-article-form.button.cancel}"></button>
            <button type="button" data-th-text="#{frag-article-form.button.erase}"></button>
        </li>
        <li data-th-if="${#strings.isEmpty(action)}">
            <label for="bidPrice" data-th-text="#{frag-article-form.bidPrice}"></label>
            <input type="number" name="bidPrice" id="bidPrice"
                   data-th-value="${article.startingPrice}">
            <button type="submit" data-th-text="#{frag-article-form.button.bid}"></button>
        </li>
    </ul>
</form>