
    <form data-th-fragment="user-profile(action)"
          data-th-action="@{/profil}"
          method="post"
          data-th-object="${user}">
        <input type="hidden" data-th-field="*{userId}">
        <h1 data-th-if="${action=='profile'}" >Profil Utilisateur</h1>
        <h1 data-th-unless="${action=='profile'}">Mon profil</h1>

        <ul class="flex-outer">
            <li>
                <label for="username">Pseudo :</label>
                <input type="text" id="username" name="username" data-th-field="*{username}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="lastName">Nom :</label>
                <input type="text" id="lastName" name="lastName" data-th-field="*{lastName}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="firstName">Prénom :</label>
                <input type="text" id="firstName" name="firstName" data-th-field="*{firstName}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" data-th-field="*{email}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="phone">Téléphone :</label>
                <input type="tel" id="phone" name="phone" data-th-field="*{telephone}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="street">Rue :</label>
                <input type="text" id="street" name="street" data-th-field="*{street}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="zip">Code postal :</label>
                <input type="text" id="zip" name="zip" data-th-field="*{zip}" data-th-disabled="${action=='profile'}">
            </li>
            <li>
                <label for="city">Ville :</label>
                <input type="text" id="city" name="city" data-th-field="*{city}" data-th-disabled="${action=='profile'}">
            </li>

            <li data-th-if="${action=='my-profile'}">
                <button type="submit">Modifier</button>
            </li>
        </ul>

    </form>


</main>
</html>