<form data-th-fragment="article-form(action)" data-th-action="@{${action}}" method="post" data-th-object="${article}">
    <h1 data-th-if="${#strings.isEmpty(action)}" data-th-text="#{view-article-detail.h1}"></h1>
    <h1 data-th-unless="${#strings.isEmpty(action)}" data-th-text="#{view-article-form.h1}"></h1>
    <!--    <h2 data-th-replace="~{fragments/fragment-errors.html :: errors}"></h2>-->
    <!--    <p class=cards data-th-each="keyError: ${#fields.errors('global')}" data-th-text="#{${keyError}}"></p>-->
    <ul class="flex-outer">
        <li>
            <label for="articleName" data-th-text="#{frag-article-form.articleName}"></label>
            <input data-th-field="*{article.articleName}"
                   type="text" name="articleName" id="articleName" data-th-disabled="${#strings.isEmpty(action)}">
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(genre)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="annee" data-th-text="#{frag-film-form.annee}"></label>-->
            <!--            <input type="number" min="1900" name="annee" id="annee" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{annee}">-->
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(annee)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="titre" data-th-text="#{frag-film-form.titre}">Titre:</label>-->
            <!--            <input type="text" name="titre" id="titre" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{titre}">-->
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(titre)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="realisateur" data-th-text="#{frag-film-form.realisateur}">Réalisateur:</label>-->
            <!--            <input data-th-if="${#strings.isEmpty(action)}" type="text" name="realisateur" id="realisateur" disabled data-th-value="${film.realisateur.prenom} + ' ' + ${film.realisateur.nom}">-->
            <!--            <select data-th-unless="${#strings.isEmpty(action)}" name="realisateur" id="realisateur">-->
            <!--                <option data-th-each="participant: ${participants}" data-th-value="${participant.id}" data-th-text="${participant.prenom} + ' ' + ${participant.nom}"></option>-->
            <!--            </select>-->
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(realisateur)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="duree" data-th-text="#{frag-film-form.duree}"></label>-->
            <!--            <input type="number" name="duree" id="duree" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{duree}">-->
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(duree)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="acteurs" data-th-text="#{frag-film-form.acteurs}">Acteur(s):</label>-->
            <!--            <select data-th-if="${#strings.isEmpty(action)}" disabled multiple name="acteurs" id="acteurs">-->
            <!--                <option data-th-each="acteur: ${film.acteurs}" data-th-text="'- ' + ${acteur.prenom} + ' ' + ${acteur.nom}"></option>-->
            <!--            </select>-->
            <!--            <select data-th-unless="${#strings.isEmpty(action)}" multiple name="acteurs" id="acteurs">-->
            <!--                <option data-th-each="participant: ${participants}" data-th-value="${participant.id}" data-th-text="${participant.prenom} + ' ' + ${participant.nom}"></option>-->
            <!--            </select>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <label for="synopsis" data-th-text="#{frag-film-form.synopsis}">Synopsis:</label>-->
            <!--            <textarea id="synopsis" name="synopsis" data-th-disabled="${#strings.isEmpty(action)}" data-th-field="*{synopsis}"></textarea>-->
            <!--            <div data-th-replace="~{fragments/fragment-error :: error(synopsis)}"></div>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <button data-th-unless="${#strings.isEmpty(action)}" type="submit" data-th-text="#{frag-film-form.enregistrer}"></button>-->
            <!--        </li>-->
            <!--        <li data-th-if="${#strings.isEmpty(action) && !#lists.isEmpty(film.avis)}">-->
            <!--            <p data-th-text="#{frag-avis.label}"></p>-->
            <!--            <ul>-->
            <!--                <li data-th-each="avis: ${film.avis}" data-th-text="${avis.commentaire} + '[' + ${avis.note} + '] - (' + ${avis.membre.prenom} + ')'"></li>-->
            <!--            </ul>-->
            <!--        </li>-->
    </ul>
</form>