<header data-th-fragment="header">
    <img data-th-src="@{/images/logo.png}" alt="Logo du site d'enchères de l'association Les objets sont nos amis"
         height="60px">
    <div id="nav-title">
<!--        <div>-->
<!--            <a data-th-href="@{/?lang=fr}"><img data-th-src="@{/images/French.webp}" alt="French"></a>-->
<!--            <a data-th-href="@{/?lang=en}"><img data-th-src="@{/images/English.webp}" alt="English"></a>-->
<!--        </div>-->
        <p>
            <a data-th-href="@{/}">
                Enchères entre particuliers
            </a>

        </p>
        <p>
            <em data-th-if="${loggedUser != null}"
                data-th-text="'Salut ' + ${loggedUser.firstName} + ' !'">
            </em>
        </p>
    </div>
    <nav>
        <ul>
            <li>
                <a data-th-href="@{/encheres}">Enchères
                </a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated')}">
                <a data-th-href="@{/}">
                    Vendre un article
                </a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated')}">
                <a data-th-href="@{/profil}">
                    Mon profil
                </a>
            </li>
            <li data-th-unless="${#authorization.expression('isAuthenticated')}">
                <a data-th-href="@{/inscription}">S'inscrire</a>
            </li>
            <li data-th-if="${#authorization.expression('isAuthenticated')}">
                <a data-th-href="@{/logout}">Déconnexion</a>
            </li>
            <li data-th-unless="${#authorization.expression('isAuthenticated')}">
                <a data-th-href="@{/login}">Se connecter</a>
            </li>

            <!--        <li data-th-unless="${#authorization.expression('isAuthenticated')}">-->
            <!--            <a data-th-href="@{/login}">Se connecter / S'inscrire</a>-->
            <!--        </li>-->
        </ul>
    </nav>
</header>