@charset "UTF-8";

form {
    background-color: rgb(207,226,227);
    border-radius: 10px;
    margin: 2vh auto;
    width: 80%;
    text-align: center;
    padding: 15px;
}

form h1 {
    margin-bottom: 15px;
}

form img {
    width: 80%;
    margin-bottom: 15px;
}

.flex-outer>li {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.flex-outer>li>label {
    max-width: 220px;
    width: 32%;
}

.flex-outer>li>label+* {
    width: 65%;
}

.flex-outer li button {
    margin-left: auto;
    padding : 8px 16px;
    border: none;
    background: darkcyan;
    color: #ffffff;
    border-radius: 5px;
}

*:disabled {
    border: none;
    font-size: 1rem;
    background: none;
    color: black;
    font-style: italic;
}

#bidPrice {
    width: 10vw;
}

li {
    list-style: none;
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}