@charset "UTF-8";

/* Mobile first : X-Small devices (portrait phones, less than 576px) */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Header */
header {
    background-color: cadetblue;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 1px 8px #ddd;
    height: 15vw;
}

header>img {
    width: 13vw;
    margin-right: 10px;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5rem;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 1vw;
    font-size: 1rem;
}

header em {
    font-size: 1rem;
}

header a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: rgba(255, 222, 173, 0.83);
}

/* Pour petits écrans : afficher le burger et cacher le menu */
@media screen and (max-width: 992px) {
    .burger {
        display: block;
        font-size: 2rem;
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: cadetblue;
        position: absolute;
        top: 9vh; /* hauteur du header */
        right: 0;
        /*width: 20%;*/
        padding: 2%;
        box-shadow: 0 1px 8px #ddd;
    }

    .nav-links.active {
        display: flex;
    }

    header li {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
}

@media screen and (min-width: 993px) {
    .burger {
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        margin-right: 10px;
    }
}

/* Main */
.center-main {
    display: flex;
    width: 80%;
    height: 100vh;
    margin: 1% auto;
    flex: 1;
}

.center-section {
    margin: auto;
    text-align: center;
}

main h1 {
    margin: 2vh;
    font-size: 2rem;
}

/* Footer */
footer {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    color: white;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    header {
        height: 12vw;
    }
    header>img {
        width: 10vw;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    header {
        height: 12vw;
    }
    header>img {
        width: 10vw;
    }
    header li {
        padding: 0 1.5vw;
        font-size: 1.2rem;
    }
    header em {
        font-size: 1.2rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    header {
        height: 10vw;
    }
    header>img {
        width: 8vw;
    }
    #nav-title {
        font-size: 2rem;
    }
    header li {
        padding: 0 1.8vw;
        font-size: 1.4rem;
    }
    header em {
        font-size: 1.4rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    header {
        height: 8vw;
    }
    header>img {
        width: 7vw;
    }
    #nav-title {
        font-size: 2.4rem;
    }
    header li {
        padding: 0 1.8vw;
        font-size: 1.6rem;
    }
    header em {
        font-size: 1.6rem;
    }
}

