<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{},
                                                cssContent2=~{:: link},
                                                titleContent=~{:: title}
                                            )}"
>

<title>Eni Enchères</title>
<link rel="stylesheet" data-th-href="@{/css/bidlist.css}">

<main class="center-main">
  <section class="center-section">
    <h1> Liste des enchères </h1>


    <form method="post" class="columnform" data-th-action="@{/search}">
      <div class="formcolumn1">
        <div class="searchcard">
          <legend>Filtres : </legend>
        </div>
        <div class="searchcard">
          <input type="text" name="keywordSearch" id="keywordSearch" placeholder="Le nom de l'article contient :">
        </div>
        <div class="searchcard">
          <label for="category">Catégories : </label>
          <select name="category" id="category">
            <option value="default" selected>Toutes les catégories</option>
            <option value="clothes">Vêtements</option>
            <option value="activities">Sports & loisirs</option>
            <option value="house">Ameublement</option>
            <option value="technologies">Informatique</option>
          </select>
        </div>

        <div class="searchcard">
          <div>
            <input data-th-checked="${bidsorsales == 'bids'}"
                   type="radio" name="bidsorsales" id="bids"
                   value="bids">
            <label for="bids">Achats</label>
            <div>
              <input type="radio" name="bids" id="allbids" value="allbids"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="allbids">Enchères ouvertes</label>
              <input type="radio" name="bids" id="ongoingbids" value="ongoingbids"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="ongoingbids">Mes enchères en cours</label>
              <input type="radio" name="bids" id="winbids" value="winbids"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="winbids">Mes enchères remportées</label>

            </div>
          </div>
          <div>
            <input data-th-checked="${bidsorsales == 'sales'}"
                   type="radio" name="bidsorsales" id="sales"
                   value="sales">
            <label for="sales">Mes ventes</label>
            <div>
              <input type="radio" name="sales" id="mysales" value="mysales"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="mysales">Mes ventes en cours</label>
              <input type="radio" name="sales" id="waitingsales" value="waitingsales"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="waitingsales">Ventes non débutées</label>
              <input type="radio" name="sales" id="endedsales" value="endedsales"
                     data-th-disabled="${bidsorsales != 'bids'}">
              <label for="endedsales">Ventes terminées</label>

            </div>
          </div>
        </div>
      </div>
      <div >
        <button type="button">Rechercher</button>
      </div>

    </form>
    </div>


    <div class="bidlist">
      <div data-th-each="article: ${articles}" class="bidcards">

        <img data-th-src="@{(${article.imageUrl})}" alt="image de l'article à vendre">
        <h4 data-th-text = "${article.articleName}">Titre </h4>
        <p data-th-text = "'Meilleure offre : ' + ${article.sellingPrice}">Prix : </p>
        <p data-th-text = "'Date de fin : ' + ${article.endDate}"></p>
        <p data-th-text = "'Vendeur : ' + ${article.seller.username}"></p>

      </div>

    </div>


  </section>
</main>
</html>