<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{},
                                                cssContent2=~{:: link},
                                                titleContent=~{:: title}
                                            )}"
>

<link rel="stylesheet" data-th-href="@{/css/forms.css}">
<link rel="stylesheet" data-th-href="@{/css/error.css}">

<title data-th-text="#{register.title}"></title>

<main class="center-main">
    <section class="center-section">
        <h1 data-th-text="#{register.h1}"></h1>
        <form data-th-action="@{/inscription}" method="post" data-th-object="${userCreateDTO}">
            <p class="global-error" data-th-each="key: ${#fields.errors('global')}"
               data-th-text="#{${key}}"></p>
            <ul class="flex-outer">
                <li>
                    <label for="username">Pseudo :</label>
                    <input type="text" id="username" name="username" required autofocus data-th-field="*{username}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('username')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="lastName">Nom :</label>
                    <input type="text" id="lastName" name="lastName" required data-th-field="*{lastName}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('lastName')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="firstName">Prénom :</label>
                    <input type="text" id="firstName" name="firstName" required data-th-field="*{firstName}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('firstName')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" required data-th-field="*{email}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('email')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="telephone">Téléphone :</label>
                    <input type="tel" id="telephone" name="telephone" data-th-field="*{telephone}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('telephone')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="street">Rue :</label>
                    <input type="text" id="street" name="street" required data-th-field="*{street}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('street')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="zip">Code postal :</label>
                    <input type="text" id="zip" name="zip" required data-th-field="*{zip}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('zip')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="city">Ville :</label>
                    <input type="text" id="city" name="city" required data-th-field="*{city}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('city')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" minlength="12" required
                           data-th-field="*{password}">
                    <p id="password-format">Le mot de passe doit contenir minimum 12 caractères dont une majuscule, une minuscule, un chiffre et un caractère spécial parmi (!@#$%^&*()_+)</p>
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('password')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li>
                    <label for="pwd-confirm">Confirmation :</label>
                    <input type="password" id="pwd-confirm" name="pwd-confirm" required
                           data-th-field="*{passwordConfirm}">
                    <p class="field-error"
                       data-th-each="error : ${#fields.errors('passwordConfirm')}"
                       data-th-text="#{${error}}"></p>
                </li>
                <li class="button-row">
                    <button type="submit">Créer</button>
                    <button type="reset">Annuler</button>
                </li>
            </ul>
        </form>
    </section>
</main>
</html>